# Contact & Socials
VITE_GITHUB_URL=
VITE_LINKEDIN_URL=
VITE_GMAIL=

# Project Live URLs
VITE_UPAY_URL=
VITE_DOCUMIND_URL=

# Project GitHub Repository URLs
VITE_UPAY_GITHUB=
VITE_DOCUMIND_GITHUB=
VITE_CODE_DUELS_GITHUB=
VITE_DEVINSPECT_GITHUB=

# Blog URLs
VITE_MEDIUM_URL=
VITE_HASHNODE_URL=
